<!--
 - @author Anlibraly
 - @class  和100测试
 -->
<!DOCTYPE html>
<html ng-app="App">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/style.css" />
		<script src="scripts/angular.min.js"></script>
		<script src="controll/question.js"></script>
		<title>和100测试</title>
		<meta name="keywords" content="和100测试" />
		<meta name="description" content="和100测试" />
		<meta name="author" content="Anlibraly" />
	</head>
	<body data-ng-controller="AddStyleCtrl">

    <div>Choose numbers:</div>  
    <div>请选择一系列的数，使它们和为100.</div>  
    <ul id="nums">
        <li data-ng-repeat="tag in tags" ng-if="start">
                <input type="checkbox" id={{tag.id}} name="{{tag.name}}" ng-checked="isSelected(tag.id)" ng-click="updateSelection($event,tag.id)">
                <label for="{{tag.id}}">{{ tag.name }}</label>
        </li>
        <input type="button" name="不做了" value="不做了" class="end" ng-click="endUp();" ng-if="start"/>
        <input type="button" name="开始" value="开始" class="start" ng-click="startUp();" ng-if="!start"/>
    </ul>
    <hr>
    <div>The numbers you have choosen:</div>
    <hr>
    	Sum = {{sum}}
    <hr>
    <div ng-if="result">
    	<div>答题总时间:{{totalTime}}s</div> 
    	<div>答题总数:{{times.length}}</div>
    	<div>每题分别用时如下:</div>  
    	<pre>{{times}}</pre>
    </div>
	
<!--<pre>{{selectedTags|json}}</pre> -->
</body>
</html>